<div class="card col-12 m-auto" style="width: 18rem;" id="card" *ngIf="vehiculo">
    <img src={{vehiculo.imagen}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Marca: {{vehiculo.marca | titlecase}}</h5>
      <h5 class="card-title">Modelo: {{vehiculo.modelo | titlecase}}</h5>
      <p class="card-text">Precio: <strong>{{vehiculo.precio | currency}}</strong></p>
      <p class="card-text" >Usado: {{vehiculo.usado | titlecase}}</p>
      <button (click)="cerrarDialog()" class="btn btn-danger">Cerrar</button>
    </div>
</div>
