<div class="card col-12 m-auto" style="width: 18rem;">
    <img src={{vehiculo.imagen}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Marca: {{vehiculo.marca}}</h5>
      <h5 class="card-title">Modelo: {{vehiculo.modelo}}</h5>
      <p class="card-text">Precio: {{vehiculo.precio}}</p>
      <p class="card-text" >Usado: {{vehiculo.usado}}</p>
      <p-button (click)="showDialog()" icon="pi pi-external-link" label="Vender"></p-button>
      <p-dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
        <div>
          <app-ventas-realizadas [vehiculoVendido]="vehiculo"></app-ventas-realizadas>
        </div>
    </p-dialog>
    </div>
</div>
