<h2 class="titulo-projectos">Angular Projects IFTS</h2>

<div class="d-flex justify-content-center gap-3" id="contenedor-projectos">
    <div id="card-ventas" class="card" style="width: 18rem;" routerLink="/ventas">
        <img src="../../../assets/prototipo.jpeg" class="card-img-top" alt="venta">
        <div class="card-body">
            <p class="card-text">Venta autos</p>
        </div>
    </div>
    <div id="card-hotel" class="card" style="width: 18rem;" routerLink="/hotel">
        <img src="../../../assets/edificio-hotel.jpg" class="card-img-top" alt="hotel">
        <div class="card-body">
            <p class="card-text">Administracion Hoteles</p>
        </div>
    </div>
</div>