<app-nav></app-nav>
<table class="table-content">
    <thead>
      <tr>
        <th scope="col">Imagen</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Precio</th>
        <th scope="col">Usado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehiculo of vehiculos">
        <td class="col-4"><img src={{vehiculo.imagen}} alt=""></td>
        <td>{{vehiculo.marca}}</td>
        <td>{{vehiculo.modelo}}</td>
        <td><strong>{{vehiculo.precio | currency}}</strong></td>
        <td>{{vehiculo.usado | uppercase}}</td>
        <td class="button-acciones">
          <button (click)="showDialog(vehiculo)"  class="btn btn-primary" icon="pi pi-external-link">Mostrar</button>
          <button class="btn btn-warning" (click)="venderVehiculo(vehiculo)" (click)="scroll(card)">
            Vender
          </button>
          <button class="btn btn-danger" (click)="borrarVehiculo(vehiculo)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div #card>
      <app-ventas-realizadas 
      [vehiculosVendidosLista]="vehiculosVendidos" 
      [cantidad] = "cantidadVendidos" 
      [presupuesto]="totalFacturado"></app-ventas-realizadas>
  </div>
  <p-dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <div>
      <app-detalle [vehiculo]="vehiculoMostrar" (cerrar)="estadoInput($event)"></app-detalle>
    </div>
  </p-dialog>

